<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">




		<body>


			<h:dataTable value="#{productDataBaseConnecter.getAllProducts()}"
				var="o">


				<h:column>
					<f:facet name="header">Product Name</f:facet>
					<h:outputText value="#{o.productName}" />
				</h:column>
				<h:column>
					<f:facet name="header">Product Cost</f:facet>
					<h:outputText value="$#{o.productCost}" />
				</h:column>
				<h:column>
					<f:facet name="header">Product Amount</f:facet>
					<h:outputText value="#{o.productAmount}" />
				</h:column>
				<h:column>
					<f:facet name="header">Product Discription</f:facet>
					<h:outputText value="#{o.productDiscription}" />
				</h:column>
				<h:column>
					<f:facet name="header">Product Image</f:facet>
					<h:graphicImage value="#{o.imageUrl}" width="70px" height="70px" />
				</h:column>
				<h:column>
					<h:form>
						<h:commandButton action="Home.jsp" value="Buy" />
					</h:form>
					<h:form>
						<h:commandButton action="#{storeManager.edit(o)}" value="Edit"/>
					</h:form>
				</h:column>


			</h:dataTable>


		</body>







</html>