body {
	margin: 0;
	font-family: Helvetica;
	background-image: url("Images/Home Page.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.topnav {
	overflow: hidden;
}

.topnav a {
	float: left;
	color: Black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 50px;
}

.topnav a:hover {
	text-shadow: 4px 4px 5px DodgerBlue;
}

.topnav a.active {
	
}

form.searchSubmit {
	float: right;
	padding: 14px;
}

table {
	height: 80%;
	border: 1px solid #999;
	overflow: auto;
	display: block;
	border: 1px solid black;
	margin: auto;
	width: 90%;
	border-radius: 5px;
	background-color: #7ca6d6;
	padding: 10px;
	border-collapse: separate;
}